{% extends "base.html" %}

{% block pagecontent %}
<main class="content">

    <ul class="blog-list">
    {% for page in paginator.pages %}
        <li class="blog-item">
            <img src="{{page.path}}{{page.extra.vorschau}}" alt="Blog Image">
            <div class="blog-content">
                <a href="{{page.path}}">
                <h2 class="blog-title">{{page.title}}</h2></a>
                <p class="blog-description">{{page.extra.description}}</p>
            </div>
        </li>
    {% endfor %}
</ul>
</main>

{% endblock %}