{% set title = page.title | default(value=config.title)  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/tannweiler-logo.svg">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    {% include 'elements/header.html' %}
    
    {% block pagecontent %}
    {% endblock pagecontent %}
    
    {% include "elements/footer.html" %}
</body>
</html>
