<header class="header">
    <div class="header-container">
        <div class="header-left">
            <a href="/" class="home-link">
                <img src="/logo.jpg" alt="Logo Port Tannweiler" class="logo">
                <h1 class="title">Port Tannweiler</h1>
            </a>
        </div>
        <nav class="header-right">
            <a href="/anmeldung"><button class="nav-button">Anmeldung</button></a>
            <a href="/events"><button class="nav-button">Archiv</button></a>
            <a href="/impressum"><button class="nav-button">Impressum & Datenschutz</button></a>
        </nav>
    </div>
</header>